.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  overflow: hidden;
}

.map-container {
  height: 40%;
  width: 100%;
  position: fixed;
  top: 10vh;
  left: 0;
}

.business-page-container {
  background: #ccc;
  max-width: 500px;
  margin: 50px auto;
  position: relative;
}

.business-page {
  width: 100%;
  background-color: #fff;
  overflow-x: hidden;
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0 20%;
}

.business-page-photo-row-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}

.business-page-photo-row {
  height: 200px;
  width: 200px;
  padding: 2px;
}

.business-page-image {
  height: 100%;
  width: 100%;
  cursor: pointer;
  object-fit: cover;
}

.business-page-google-url {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  text-decoration: none;
  color: #000;
  box-shadow: 0 0 3px #ccc;
  width: 25%;
  border-radius: 5px;
  padding: 0.5rem;
  background: #ccc;
}

.business-page-phone {
  padding: 10px;
  text-align: center;
  width: 50%;
}

.business-page-phone-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  text-decoration: none;
  color: #000;
  box-shadow: 0 0 3px #ccc;
  width: 25%;
  border-radius: 5px;
  padding: 0.5rem;
  background: #ccc;
}

.business-page-phone-icon {
  padding: 5px;
  color: #03989e;
}

.business-page-directions-icon {
  padding: 5px;
  color: #03989e;
}

.restaurant-name {
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: black;
  margin-bottom: 0.5em;
  text-align: center;
}

.business-specifics {
  font-size: 1em;
  color: black;
  font-size: 0.8em;
  text-align: center;
}

.business-page-business-info {
  font-family: sans-serif;
  padding: 1em;
}

.business-page-phone {
  color: black;
  text-decoration: none;
}

.business-page-direction-phone-buttons {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.food-page-loading {
  height: 10%;
  width: auto;
  margin: auto;
}

.food-page-link-container {
  margin: 1rem;
  box-shadow: 0 0 3px grey;
  border-radius: 5px;
  max-width: 300px;
}

.food-page-link-container a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food-page-loading-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.food-page-detail-container {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 80%;
}

.food-page-detail-name {
  margin-bottom: 1rem;
}

.food-page-images-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  align-items: center;
  align-content: flex-start;
  justify-content: center;
}

.food-page-single-image-container {
  padding: 1rem;
  width: 300px;
  height: 300px;
}

.food-page-image {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.food-page-no-results-container {
  width: 100%;
  height: 100%;
}

.food-page-no-results {
  font-size: 2em;
  color: #03989e;
  text-align: center;
  padding: 30px;
}

.map-food-image {
  box-shadow: 0 0 7px;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid silver;
  cursor: pointer;
  position: absolute; /* needed to make :hover work */
}

.map-position-marker {
  font-size: 15px;
}

.map-restaurant-marker {
  font-size: 15px;
  color: #03989e;
}

.marker {
  position: absolute; /*needed to make z-index work*/
  z-index: 999;
  background: transparent;
  height: 50px;
}
.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-close-button {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 5em;
  color: white;
  cursor: pointer;
}

.modal-photo-change-button-left {
  position: fixed;
  bottom: 50%;
  left: 0;
  padding: 10px;
  color: white;
  font-size: 5em;
  cursor: pointer;
}

.modal-photo-change-button-right {
  position: fixed;
  bottom: 50%;
  right: 0;
  padding: 10px;
  color: white;
  font-size: 5em;
  cursor: pointer;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-food-image {
  position: fixed;
  height: auto;
  max-height: 90%;
  min-width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-container {
  display: flex;
  min-height: 18%;
  width: 100%;
  background-color: #ffde59;
  padding: 1.5em 0.5em;
}

.mobile-search-header {
  align-items: center;
  display: flex;
  min-height: 18%;
  width: 100%;
  background-color: #ffde59;
  padding: 10px;
  justfy-content: center;
}

.mobile-search-filters {
  padding: 10px 0;
}

.mobile-search-distance-button.active {
  background: #03989e;
}

.mobile-searchbox-modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.mobile-search-form {
  padding: 10px;
}

.mobile-searchbox-modal-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-searchbox-modal-content {
  position: fixed;
  height: 90%;
  width: 85%;
  max-height: 90%;
  background: white;
}

.mobile-searchbox-button {
  background-color: white;
  border-radius: 20px;
  height: 30px;
  width: 30px;
  position: flex;
  text-align: center;
  line-height: 30px;
  color: #03989e;
  font-size: 16px;
  border: transparent;
  box-shadow: 0 0 5px;
}

.mobile-searchbox-button-container {
  padding: 30px;
  position: absolute;
  right: 0;
  top: 2vh;
}

.mobile-searchbox-container {
  display: none;
}

.mobile-searchbox {
  width: 100%;
  border: 1px #03989e solid;
  height: 2rem;
  padding: 10px;
  border-radius: 4px;
}

.mobile-zipbox-container {
  width: 100%;
  padding: 5px 0;
}

.mobile-app-name {
  font-family: 'Lalezar', cursive;
  color: white;
}

.mobile-logo {
  height: auto;
  max-width: 100%;
  max-height: 5vh;
}

.mobile-zipbox {
  width: 100%;
  border: 1px #03989e solid;
  height: 2rem;
  padding: 10px;
  border-radius: 4px;
}

.mobile-submit-buttons {
  width: 100%;
  padding: 20px 0;
}

.mobile-search-button {
  background: #03989e;
  width: 25%;
  padding: 5px;
  border-radius: 5px;
  right: 10px;
  position: absolute;
}

.mobile-cancel-button {
  background: white;
  width: 25%;
  padding: 5px;
  border-radius: 5px;
}

.navbar-form {
  display: flex;
  margin-bottom: 1.5em;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  max-width: 50%;
}

.navbar-link {
  max-width: 50%;
  display: flex;
  text-decoration: none;
  align-items: center;
}

.navbar-logo {
  height: auto;
  max-width: 100%;
  max-height: 10vh;
}

.navbar-app-name {
  font-family: 'Lalezar', cursive;
  color: white;
  font-size: 2em;
  width: 100%;
}

.navbar-search-button {
  background-color: transparent;
  color: #03989e;
  font-size: 16px;
  border: transparent;
  width: 50px;
  border-radius: 20px;
  position: relative;
  left: -35px;
  cursor: pointer;
}

.navbar-searchbox {
  width: 100%;
  border: none;
  height: 2rem;
  padding: 10px;
  padding-right: 40px;
  border-radius: 4px 0 0 4px;
}

.navbar-zipbox {
  width: 100%;
  border: none;
  height: 2rem;
  padding: 10px;
  padding-right: 40px;
  border-radius: 0 4px 4px 0;
}

.input-break {
  height: 2rem;
  font-size: 1.5rem;
  background-color: white;
  color: #03989e;
}

.navbar-open-now {
  color: #03989e;
  font-size: 16px;
}

.navbar-search {
  position: relative;
  top: 23%;
  flex: 1;
  max-width: 400px;
  margin: 0 40px;
  width: 50%;
}

.search-dropdown-container {
  display: flex;
}

.search-dropdown {
  position: absolute;
  top: 5rem;
  width: auto;
  height: auto;
  transform: translate(50%);
  border-radius: 5px;
  box-shadow: 0 0 5px;
  border: 1px black solid;
  padding: 1rem;
  overflow: hidden;
  background: white;
}

.search-dropdown-button {
  padding: 5px;
  margin: 1px;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  font-size: 1rem;
}

.search-distance-button {
  padding: 5px;
  margin: 1px;
  border-radius: 5px;
  border: 1px black solid;
  background: white;
  cursor: pointer;
  text-align: center;
}

.search-distance-button.active {
  background: #03989e;
}

.search-open-now {
  padding: 5px;
  margin: 1px;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  text-align: center;
}

.search-open-now.active {
  background: #03989e;
}

/* media query for mobile phone portrait mode  */
@media (min-width: 320px) and (max-width: 480px) {
  .business-page {
    padding: 0;
  }

  .business-page-google-url {
    width: 50%;
  }

  .business-page-phone-container {
    width: 50%;
  }
  .food-page-link-container {
    max-width: 200px;
  }

  .modal-photo-change-button-right {
    bottom: 0;
    right: 30%;
  }

  .modal-photo-change-button-left {
    bottom: 0;
    left: 30%;
  }

  .business-page-photo-row {
    max-width: 50%;
    flex-grow: 1;
  }

  .food-page-single-image-container {
    height: 200px;
    width: 200px;
  }

  .mobile-searchbox-container {
    display: initial;
  }

  .modal-food-image {
    width: auto;
    height: auto;
    max-height: 70%;
    max-width: 90%;
    user-select: none;
  }

  .navbar-app-name {
    font-size: 1.5rem;
  }

  .navbar-search {
    display: none;
  }

  .search-dropdown {
    display: flex;
    width: 100%;
    height: auto;
    position: static;
    transform: none;
    border: none;
    box-shadow: none;
    padding: 0;
  }

  .search-dropdown-distance {
    width: 100%;
    display: flex;
  }

  .search-distance-button {
    width: 25%;
  }
}

/* media query for mobile phone landscape mode  */
@media (min-width: 481px) and (max-width: 767px) {
  .business-page {
    padding: 0 10%;
  }

  .business-page-google-url {
    width: 50%;
  }

  .business-page-phone-container {
    width: 50%;
  }

  .food-page-link-container {
    max-width: 200px;
  }

  .food-page-single-image-container {
    height: 200px;
    width: 200px;
  }

  .navbar-logo {
    max-width: 100%;
  }

  .navbar-search {
    display: none;
  }

  .mobile-searchbox-container {
    display: initial;
  }

  .mobile-searchbox-button-container {
    top: 0;
  }

  .modal-food-image {
    width: auto%;
    height: auto;
    max-height: 70%;
  }

  .search-dropdown {
    display: flex;
    width: 100%;
    height: auto;
    position: static;
    transform: none;
    border: none;
    box-shadow: none;
    padding: 0;
  }

  .search-dropdown-distance {
    width: 100%;
    display: flex;
  }

  .search-distance-button {
    width: 25%;
  }
}
