.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
  overflow: hidden;
}

.map-container {
  height: 40%;
  width: 100%;
  position: fixed;
  top: 10vh;
  left: 0;
}

.business-page-container {
  background: #ccc;
  max-width: 500px;
  margin: 50px auto;
  position: relative;
}

.business-page {
  width: 100%;
  background-color: white;
  overflow: auto;
}

.business-page-photo-row-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.business-page-photo-row {
  height: 19vh;
  border: 1px solid white;
  max-width: 300px;
}

.business-page-image {
  max-height: 100%;
  min-width: 100%;
  vertical-align: bottom;
  height: 100%;
}

.restaurant-name {
  font-size: 2em;
  color: #03989e;
}

.business-specifics {
  font-size: 1em;
  color: #03989e;
}

.business-page-business-info {
  font-family: sans-serif;
}

.filler {
  flex-grow: 10;
}

.food-page-loading {
  height: 10%;
  width: auto;
  margin: auto;
}

.food-page-loading-container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.food-page-images-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  overflow: scroll;
  align-items: center;
  align-content: flex-start;
}

.food-page-single-image-container {
  height: 20vh;
  flex-grow: 1;
  border: 1px solid white;
  max-width: 25%;
}

.food-page-image {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  height: 100%;
}

.map-food-image {
  box-shadow: 0 0 7px;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid silver;
  cursor: pointer;
  position: absolute; /* needed to make :hover work */
}

.map-position-marker {
  font-size: 15px;
}

.map-restaurant-marker {
  font-size: 15px;
  color: #03989e;
}

.marker {
  position: absolute; /*needed to make z-index work*/
  z-index: 999;
  background: transparent;
  height: 50px;
}
.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.modal-close-button {
  position: fixed;
  top: 0;
  right: 0;
  padding: 10px;
  font-size: 5em;
  color: white;
}

.modal-photo-change-button-left {
  position: fixed;
  bottom: 50%;
  left: 0;
  padding: 10px;
  color: white;
  font-size: 5em;
  cursor: pointer;
}

.modal-photo-change-button-right {
  position: fixed;
  bottom: 50%;
  right: 0;
  padding: 10px;
  color: white;
  font-size: 5em;
  cursor: pointer;
}

.modal-photo-change-button-right:hover {
  color: grey;
}

.modal-photo-change-button-left:hover {
  color: grey;
}

.modal-background {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-food-image {
  position: fixed;
  height: auto;
  max-height: 90%;
  border: 3px solid black;
  min-width: 30%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar-container {
  align-items: center;
  display: flex;
  height: 12vh;
  width: 100%;
  padding: 1px;
  background-color: #ffde59;
}

.navbar-form {
  max-width: 50%;
  display: flex;
  justify-content: space-around;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  max-width: 50%;
  height: 10vh;
}

.navbar-logo {
  height: auto;
  max-width: 100%;
  max-height: 10vh;
}

.navbar-search-button {
  background-color: white;
  color: #03989e;
  font-size: 16px;
  border: transparent;
  width: 50px;
  border-radius: 20px;
}

.navbar-searchbox {
  width: 100%;
  border-radius: 15px;
  border: 1px #03989e solid;
  height: 20px;
  padding: 10px;
  padding-right: 40px;
}

.navbar-open-now {
  color: #03989e;
  font-size: 16px;
}

.yelp-logo {
  height: 25px;
  width: auto;
}

/* media query for mobile phone portrait mode  */
@media (min-width: 320px) and (max-width: 480px) {
  .modal-photo-change-button-right {
    bottom: 0;
    right: 30%;
  }

  .modal-photo-change-button-left {
    bottom: 0;
    left: 30%;
  }

  .business-page-photo-row {
    max-width: 50%;
    flex-grow: 1;
  }

  .food-page-single-image-container {
    max-width: 50%;
  }

  .modal-food-image {
    width: auto;
    height: auto;
    max-height: 70%;
    max-width: 90%;
  }
}

/* media query for mobile phone landscape mode  */
@media (min-width: 481px) and (max-width: 767px) {
  .navbar-logo {
    max-width: 100%;
  }

  .modal-food-image {
    width: auto%;
    height: auto;
    max-height: 70%;
  }
}
