.main-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column nowrap;
}

.map-container {
  height: 75vh;
  width: 100vw;
}

.image-container {
  position: fixed;
  min-height: 200px;
  /* max-width: 60%; */
  width: 100%;

  background-color: white;
}

.bottombar {
  width: 100vw;
  height: 25vh;
}

.bottombar-photo-row {
  display: inline-block;
}

.bottombar-food {
  height: 150px;
  width: 150px;
}

.food-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.clicked-image {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.photo-clicked {
  display: table-cell;
  padding: 5px;
  /* border: 5px solid black; */
  border-radius: 5px;
  /* background: red; */
  height: 70px;
  width: 70px;
}

.restaurant-name {
  font-size: 50px;
}

.restaurant-hours {
  font-size: medium;
}
