.image-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  overflow: auto;
  background: white;
}
.food-image {
  position: relative;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.food-image:hover {
  height: 170px;
  width: 170px;
  border-radius: 50%;
}

.clicked-image {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.photo-row {
  display: table-row;
}

.photo-clicked {
  display: table-cell;
  padding: 5px;
  /* border: 5px solid black; */
  border-radius: 5px;
  /* background: red; */
  height: 70px;
  width: 70px;
}

.restaurant-name {
  font-size: large;
}

.restaurant-hours {
  font-size: medium;
}
