.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.map-container {
  height: 50vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
}

.bottom-bar-container {
  background: #ccc;
  max-width: 500px;
  margin: 50px auto;
  position: relative;
}

.bottombar {
  bottom: 0;
  position: fixed;
  width: 100vw;
  height: 50vh;
  background-color: white;
  overflow: auto;
  box-shadow: 0 0 7px;
}

.bottombar-photo-row {
  display: inline;
}

.bottombar-image {
  height: 40%;
  width: auto;
  margin: 1px;
}

.close-button-bottombar {
  right: 0;
  font-size: 3em;
  padding: 10px;
  position: absolute;
  cursor: pointer;
}

.food-page {
  display: inline;
}

.food-page-image {
  height: 200px;
  width: auto;
  margin: 1px;
  cursor: pointer;
}

.map-food-image {
  box-shadow: 0 0 7px;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid silver;
  cursor: pointer;
  position: absolute; /* needed to make :hover work */
}

.map-food-image:hover {
  z-index: 999;
}

.marker {
  position: absolute; /*needed to make z-index work*/
  z-index: 999;
  background: transparent;
  height: 50px;
}

.restaurant-name {
  font-size: 50px;
}

.yelp-logo {
  height: 25px;
  width: auto;
}
