.main-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;
}

.map-container {
  height: 40vh;
  width: 100vw;
  position: fixed;
  top: 10vh;
  left: 0;
}

.bottom-bar-container {
  background: #ccc;
  max-width: 500px;
  margin: 50px auto;
  position: relative;
}

.bottombar {
  bottom: 0;
  position: fixed;
  width: 100vw;
  height: 50vh;
  background-color: white;
  overflow: auto;
  box-shadow: 0 0 7px;
}

.bottombar-photo-row-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.bottombar-photo-row {
  height: 19vh;
  flex-grow: 1;
}

.bottombar-image {
  /* height: 40%; */
  /* width: auto; */
  /* margin: 1px; */
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  height: 100%;
  margin: 1px;
}

.close-button-bottombar {
  right: 0;
  font-size: 3em;
  padding: 10px;
  position: absolute;
  cursor: pointer;
}

.filler {
  flex-grow: 10;
}

.food-page-loading {
  margin: auto;
  padding: 200px;
}

.food-page-images-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.food-page-single-image-container {
  height: 20vh;
  flex-grow: 1;
  margin: 1px;
}

.food-page-image {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
  height: 100%;
}

.map-food-image {
  box-shadow: 0 0 7px;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 1px solid silver;
  cursor: pointer;
  position: absolute; /* needed to make :hover work */
}

.map-food-image:hover {
  z-index: 999;
}

.marker {
  position: absolute; /*needed to make z-index work*/
  z-index: 999;
  background: transparent;
  height: 50px;
}

.navbar-container {
  align-items: center;
  display: flex;
  height: 10vh;
  width: 100%;
  padding: 1px;
  box-shadow: 0 0 7px;
  background-color: #ffde59;
}

.navbar-form {
  width: 10%;
}

.navbar-search-button {
  background-color: transparent;
  color: #03989e;
  font-size: 16px;
  border: transparent;
  width: 50px;
  margin: -40px;
}

.navbar-searchbox {
  width: 100%;
  border-radius: 15px;
  border: 1px #03989e solid;
  height: 20px;
  padding: 10px;
  padding-right: 40px;
}

.navbar-open-now {
  color: #03989e;
  font-size: 16px;
}

.restaurant-name {
  font-size: 50px;
  color: #03989e;
}

.business-specifics {
  color: #03989e;
}

.bottombar-business-info {
  height: 20%;
}

.yelp-logo {
  height: 25px;
  width: auto;
}
